<template>

    <div class="modal fade" :class='openmodal' id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="detailsModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="detailsModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click='close'>
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <table class="table table-sm table-striped table-condensed table-bordered">
                        <tbody v-if = "payments == '0'">
                            <tr>
                                <td>
                                    <b>Data Error! Please Try again</b>
                                </td>
                            </tr>
                        </tbody>
                        <tbody v-else>
                           <tr>
                                <td><b>Client Name </b>:</td>
                                <td>{{ 'Client Name' }}</td>
                            </tr>
                            <tr>
                                <td><b>Transaction Code</b>:</td>
                                <td>{{ 'Codeya ukweli' }}</td>
                            </tr>
                            <tr>
                                <td><b>Order ID </b>:</td>
                                <td>{{ 'JBCJUSC11' }}</td>
                            </tr>
                            <tr>
                                <td><b>Date Time </b>:</td>
                                <td>{{'29 Aug 2018 16:44'}}</td>
                            </tr>
                            <tr>
                                <td><b>Channel </b>:</td>
                                <td>{{'VISA'}}</td>
                            </tr>
                            <tr>
                                <td><b>Amount </b>:</td>
                                <td>{{'2500'}}</td>
                            </tr>
                            <tr>
                                <td><b>Type </b>:</td>
                                <td> KES </td>
                            </tr>
                            <tr>
                                <td><b>Card Mask </b>:</td>
                                <td>3213 XXXX XXXX XXXX</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary pull-left" data-dismiss="modal" @click='close'>Close</button>
                    <a href=""><button type="submit" class="btn btn-danger">Export</button></a>
                    <a href=""><button type="button" class="btn btn-primary">Partial Refund</button></a>
                    <a href=""><button type="button" class="btn btn-success">Full Refund</button></a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
  export default {

    props: ['openmodal'],

    data() {
        return {
            payments: ''
        }
    },

    methods: {
        close(){
            this.$emit('closeRequest')
        }
    },

    // Lifecycles
    created() {
        console.log('Modal component created')
    },
};
</script>