<template>
    <div class="panel-body">
        
        <search-component></search-component>
        <table-component></table-component>
        <modal-component></modal-component>

    </div>
</template>

<script>
    import SearchComponent from './SearchComponent';
    import TableComponent from './TableComponent';
    import ModalComponent from './ModalComponent';

    export default {
        mounted() {
            console.log('Page Component mounted.')
        }
    }
</script>
