<template>
    <div class="panel-body">
        <div class="row">
            <form id="searchForm" @submit.prevent="processForm">
                <div class="form-group col-md-4">
                    <input 
                        v-model="code" 
                        pattern=".{0}|.{7,}"  
                        type="text" 
                        name="code" 
                        class="form-control" 
                        placeholder="TRANSACTION Code"/>
                </div>
                <div class="form-group col-md-2">
                    <input 
                        v-model="date_from" 
                        type="date" 
                        class="form-control datepicker" 
                        placeholder="From Date" 
                        name="date_from"/>
                </div>
                <div class="form-group col-md-2">
                    <input 
                        v-model="date_to" 
                        type="date" 
                        class="form-control datepicker" 
                        placeholder="To Date" 
                        name="date_to"/>
                </div>
                <div class="form-group col-md-1">
                    <button type="submit" class="btn btn-success">Search</button>
                </div>
            </form>

            <div class="form-group col-md-1">
                <a href="" class="btn btn-danger">Export</a>
            </div>
            <div class="form-group col-md-1">
                <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">
                    <span class="glyphicon glyphicon-collapse-down"></span> Advanced
                </button>
            </div>
            <div id="demo" class="collapse col-md-12">
                <div class="form-group col-md-3">
                    <select class="form-control" id="channel" placeholder="Channel" name="channel">
                        <option selected disabled>CHANNEL</option>
                        <option>MPESA</option>
                        <option>Airtel Money</option>
                        <option>Equitel</option>
                        <option>eLipa</option>
                        <option>Kenswitch</option>
                        <option>Visa</option>
                        <option>Mastercard</option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <input type="text" class="form-control" id="oid" placeholder="Order ID" name="oid"/>
                </div>
                <div class="form-group col-md-2">
                    <input type="text" class="form-control" id="fname" placeholder="Client First Name" name="fname"/>
                </div>
                <div class="form-group col-md-2">
                    <input type="text" class="form-control" id="lname" placeholder="Client Last Name" name="lname"/>
                </div>
                <div class="form-group col-md-2">
                    <input type="text" class="form-control" id="phone" placeholder="Phone Number" name="phone"/>
                </div>
            </div>
        </div>
    
        <table-component :payment="payment"></table-component>

    </div>
</template>

<script>

    export default {
        // components: { TableComponent },

        data() {
            return {
                code : '',
                date_from : '',
                date_to : '',
                payment : '',
                showActive : '',
                errors : {
                    name : false,
                    date_from : false,
                    date_to : false
                }
            }
        },

        // Methods that are assigned to action events
        methods: {

            processForm: function() {
                              
                // alert('Processing');

                axios.post('fetch',this.$data)
                .then((payments) => 
                    this.payment = payments.data
                    // console.log(payments.data)
                    )
                .catch(error => {
                    console.log(error)
                    this.errors = true
                })
                .finally(() => this.loading = false)
            }
        },

        // Lifecycles
        created() {
            console.log('Search component created')
        },

        // Called right before a Vue instance is destroyed
        beforeDestroy() {
            this.processForm()
        },
        
        // updated() {
        //     this.processForm()
        // },
    }

    import TableComponent from './TableComponent';
</script>