<template>
    <div class="table-responsive">
        <table class="table table-striped table-condensed">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Channel</th>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody v-if = "payment == ''">
                <tr>
                    <td colspan="5" align="center">
                        No Result
                    </td>
                </tr>
            </tbody>
            <tbody v-else>
                <tr v-for = "(pay, key) in payment">
                    <td>{{ pay['txncode'] }} </td>
                    <td>{{ pay['sendernumber'] }} </td>
                    <td>{{ pay['receivingdatetime'] }} </td>
                    <td>{{ pay['txnamt'] }} </td>
                    <td>
                        <button name="refund" class="btn btn-warning" @click="openShow(key)" data-toggle="modal" data-target="#detailsModal"><i class="fa fa-eye"> </i> View</button>
                        
                    </td>
                </tr>

                <!-- Modal -->
                <modal-component :openmodal="showActive" @closeRequest="close"></modal-component>
            </tbody>

        </table>
        
    </div>
</template>   

<script>

    export default {
        // components: { ModalComponent },

        props: ['payment'],   

        data() {
            return {
                showActive: '',
                paymentData: ''
            }
        },

        // watch: {
        //     payment: function(val) { 
        //         // this.paymentData = val
        //         // console.log(this.payment)
        //     
        // },

        methods: {
            openShow(key) {
                this.$children.payments = this.payment[key]
                this.showActive = 'is-active';
                // alert(JSON.stringify(this.payment[key]))
                // console.log(this.$children.payments)
            },

            close(){
				this.showActive = ''
			}
        },

        // Lifecycles
        created() {
            console.log('Table component created')
        },

    }

    import ModalComponent from './ModalComponent';
</script>
