/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,500,600,700";


body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",     "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",     sans-serif;
    /* background: #fafafa; */
    font-size: 12px;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.0em;
    font-weight: 300;
    line-height: 1.7em;
    color: #000;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 1px 10px 10px;
    background: #124AA1;
    border: none;
    border-radius: 0;
    margin-bottom: 20px;
}

.navbar li a {
    color: #fff !important;
}

.navbar li a:hover {
    color: #124AA1 !important;
    background-color: #fff;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.navbar-brand {
    color: #fff;
}

.navbar-nav>li>.dropdown-menu {
    margin: auto;
    width: 50%;
    background-color: #124AA1;
    /* padding-left: 10px; */
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.panel > .panel-heading {
    color: #fff;
    background-color: #124AA1 !important;
    border-color: #124AA1 !important;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #124AA1;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    width: 8% !important;
    /* margin-left: -180px; */
    /* text-align: right; */
}

#lipa.active {
    display: none;    
}

#sidebar .sidebar-header {
    padding: 10px;
    background: #124AA1;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #000;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #124AA1;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #124AA1;
    background: #f29103;
}


a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #124AA1;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}
a.download {
    background: #fff;
    color: #000;
}
a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: calc(100% - 250px);
    padding: 10px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}
#content.active {
    width: 92%;
}

/* ---------------------------------------------------
    FOOTER
----------------------------------------------------- */
.footer {
    background-color: #124AA1;
    color: white;

}

/* ---------------------------------------------------
    MEDIAQUERIES Tab
----------------------------------------------------- */

/* ---------------------------------------------------
    MEDIAQUERIES Mobile
----------------------------------------------------- */
@media (max-width: 560px) {
    #sidebar {
        width: 16% !important;
    }
    #sidebar.active {
        width: 50% !important;
    }    
    #sidebar.active ul.components {
        padding: 20px 0;
        border-bottom: 1px solid #47748b;
    }
    #sidebar ul li.active > a, a[aria-expanded="true"] {
        color: #124AA1;
        background: #f5f5f5;
    }
    #lipa {
        display: none;    
    }
    #lipa.active {
        display: inline !important;    
    }
    #content {
        width: 84% !important;
    }
    #content.active {
        width: 50% !important;
    }
    /* #sidebarCollapse span {
        display: none;
    } */

}
